@import url("https://fonts.googleapis.com/css?family=Bitter|Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body,
html {
  height: 100vh;
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.text-center {
  text-align: center; }

.font-header {
  font-family: "Work Sans", sans-serif; }

.font-content {
  font-family: "Bitter", serif; }

.font-12 {
  font-size: 12px; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-20 {
  font-size: 20px; }

.font-24 {
  font-size: 24px; }

.font-32 {
  font-size: 32px; }

.font-36 {
  font-size: 36px; }

.font-42 {
  font-size: 42px; }

.font-76 {
  font-size: 76px; }

.font-semi-bold {
  font-weight: 500; }

.font-bold {
  font-weight: 700; }

.swiper-container {
  max-width: 1500px;
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.swiper-button-prev {
  position: relative;
  right: 150px;
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  background-color: rgba(130, 25, 70, 0.7);
  transform: scale(2); }

.swiper-button-next {
  position: relative;
  left: 150px;
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  background-color: rgba(130, 25, 70, 0.7);
  transform: scale(2); }

.swiper-slide {
  width: 100% !important; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }
  .wrapper--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header {
  background-color: transparent;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: all 0.2s ease-in-out; }
  .header__nav {
    padding: 0;
    /* nav-bar css*/ }
    .header__nav__tab {
      display: inline-block;
      color: white;
      padding: 0 10px;
      text-shadow: 0px 2px 6px black;
      transition: all 0.2s ease-in; }
      .header__nav__tab:hover {
        color: #821946;
        text-shadow: 0px 2px 20px white; }
    .header__nav #navbar {
      position: fixed;
      /* Make it stick */
      top: 2%;
      /* Stay on top */
      width: 100%;
      /* Full width */
      transition: top 0.3s; }
    .header__nav #navbar ul {
      float: right;
      padding-right: 80px; }
    .header__nav #navbar a:hover {
      border-bottom: 3px solid #fc9494; }
  .header--alt {
    background-color: #821946; }
    .header--alt .header__nav__tab {
      text-shadow: none;
      transition: all 0.2s ease-in; }
      .header--alt .header__nav__tab:hover {
        color: #b4784b; }

.hero {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='309' height='206' viewBox='0 0 900 600'%3E%3Cg fill-opacity='0.79'%3E%3Cpath fill='%23cf8a56' d='M306.9 210.2c-1.2-22.8-13.5-42.7-40.8-41.1c-18.3 1.1-35.9 3.6-47.5 20.1c-5.2 7.4-10.6 15.6-11.4 24.9c-0.5 5.8 0.2 12 1.2 17.7c9 49.6 85.3 46.7 96.4 0.2C306.6 224.9 307.3 217.4 306.9 210.2z'/%3E%3Cpath fill='%23cf8253' d='M137.2 481.3c-13.2-9.9-31.2-13.3-48.5-3.2c-12.6 7.3-19.1 17.4-21.1 28.2c-0.7 2.4-1.2 4.7-1.5 7c-8.2 35.4 33.7 78.9 72.6 48.6C167.6 539.3 164.4 501.6 137.2 481.3z'/%3E%3Cg fill='%23cf794f' %3E%3Cpath d='M547.9 588.3c-7.1-34.2-61.6-52.7-87.5-16.9c-11.2 11.3-12.7 26.3-7.6 39.7c1.8 7.5 5.5 13.9 10.4 19.1c19.4 20.3 53.4 26.2 72.8 1.9C545.9 619.7 553.9 604.2 547.9 588.3z'/%3E%3Cpath d='M547.9-11.7c-7.1-34.2-61.6-52.7-87.5-16.9c-11.2 11.3-12.7 26.3-7.6 39.7c1.8 7.5 5.5 13.9 10.4 19.1c19.4 20.3 53.4 26.2 72.8 1.9C545.9 19.7 553.9 4.2 547.9-11.7z'/%3E%3C/g%3E%3Cpath fill='%23cf704c' d='M849.7 498c-22.3 1.3-43.2 7.5-52.7 29.5c-3.3 7.7-7.3 15.7-7 24.3c2 55.6 86.1 63.4 98.8 10.1C890.6 554.6 877.3 496.4 849.7 498z'/%3E%3Cpath fill='%23cf6748' d='M762 291.1c-8.2-6.1-19.1-1.9-27.3 2.2c-7.4 3.7-14.4 8.2-21.6 12.1c-6.6 3.6-13.7 7-19.8 11.5c-18.3 13.5-2.5 45.1 10.6 56.4c17 14.6 41.6 15.9 59.6 2.1C794.1 351.8 790.7 312.4 762 291.1z'/%3E%3Cpath fill='%23d05e45' d='M863.3 170.3c-4.5-15.7-17.9-28.8-33.4-34.4c-16.2-5.8-38.4-2.9-51.8 8.1c-14.9 12.2-14.5 31.7-11.4 49c9.6 53.9 84.3 47.7 97-1.3C865.6 184.4 865.3 177.1 863.3 170.3z'/%3E%3Cpath fill='%23d05442' d='M598.4 86.1c-10.2 15.5-9.3 34.2-0.9 50.4c2.6 5 6.2 9.5 10.4 13.2c14.2 12.6 35.5 17.1 53.2 9.5c14.3-6.1 23.9-19.8 26.7-34.7C707.4 75.6 629.7 38.5 598.4 86.1z'/%3E%3Cpath fill='%23d0493e' d='M509.8 413.3c-17.3 22.6-11.8 59 17.5 75.3c22.6 12.6 52.2 1.7 63.8-20.9c21.4-42-9.2-85-56.5-71C523.8 399.9 515.6 405.8 509.8 413.3z'/%3E%3Cpath fill='%23d03e3b' d='M607.4 232.3c-0.5-0.4-1-0.8-1.4-1.2c-16.5-12.8-30.2-22.1-50.3-8.4c-15.5 10.6-29 30.3-31.4 49.1c-4.2 33.6 30.6 46.9 58.6 40.6C619.6 304.2 640.6 259.5 607.4 232.3z'/%3E%3Cpath fill='%23d0373b' d='M410.6 95c-36.5 1.3-74.1 41.8-43.1 74.3c19.8 20.9 54.4 20.7 74.6 0.5c20.5-20.4 18.4-53.1-6.9-68.6C427.7 96.6 419.2 94.7 410.6 95z'/%3E%3Cpath fill='%23d1333f' d='M291.3 23c-0.1-0.1-0.1-0.1-0.2-0.2c-14.2-16.9-38.3-25.6-61.4-12.3c-13.5 7.8-20.5 18.7-22.7 30.2c-5.7 18 1.5 34.2 14.2 44.8c15.4 16.8 40.3 24.1 64.2 5.5c9.6-7.4 15-16.3 17.2-25.4C308.6 48.8 302.7 33.6 291.3 23z'/%3E%3Cpath fill='%23d13044' d='M419.1 440.6c-16.9-14.5-41.8-21.5-61.7-9.5c-18.3 11.1-1 100.1 32.2 93.5c23.8-4.7 45.3-22.4 48.1-44.3C439.6 466.1 431.5 451.3 419.1 440.6z'/%3E%3Cpath fill='%23d02d4a' d='M127 227c-12-4.3-25.4-2.1-38.7 11.4C71 255.9 61.4 286.1 80.4 306c21.3 22.3 86.9 27.5 89.6-14.9c0.5-8.9-2.7-17.9-6.5-25.8C155.1 248.3 142.1 232.5 127 227z'/%3E%3Cpath fill='%23ce2c51' d='M281.5 407.6c-0.3-0.4-0.7-0.7-1-1c-19.3-17.6-59.1-0.6-78.1 10.3c-23.8 13.7-8.2 41.1 5.4 55.8c16.3 17.6 42.7 25.2 68 5.8C291.3 466.6 295.5 422.7 281.5 407.6z'/%3E%3Cpath fill='%23cd2a57' d='M137.9 110.2c-10.4-25.7-43.3-32.1-67-23.6C60.1 90.4 50 97.8 45.1 108.6c-21.2 47.3 44.9 81.1 78.5 51c9.5-8.5 17.3-18.9 17.4-32.4C141 120.8 139.9 115.1 137.9 110.2z'/%3E%3Cpath fill='%23cb295e' d='M344.3 284.7c-10 14.9-9.2 34.1-0.9 49.5c3.4 6.3 8.6 13.8 16.1 15.8c7.1 1.9 15.1 0.7 22.1-0.6c15.7-3 45.6-10.5 52.3-26.8C453.5 274.4 375.6 237.9 344.3 284.7z'/%3E%3Cg fill='%23c92764' %3E%3Cpath d='M-29.2 431.8c23.4 12.4 54.1 1.7 66.1-20.6c9.6-17.8 10.4-40.4-3.3-56.5c-10.5-12.4-44.2-25.8-58.5-11.3c-3 3.1-5.1 7.1-6.9 10.9C-41.1 373.2-55 418.1-29.2 431.8z'/%3E%3Cpath d='M870.8 431.8c23.4 12.4 54.1 1.7 66.1-20.6c9.6-17.8 10.4-40.4-3.3-56.5c-10.5-12.4-44.2-25.8-58.5-11.3c-3 3.1-5.1 7.1-6.9 10.9C858.9 373.2 845 418.1 870.8 431.8z'/%3E%3C/g%3E%3Cpath fill='%23c7266b' d='M671.4 460.5c-10.7 1.7-20.2 8.3-26.2 22.2c-21.5 49.5 45.4 84.9 79.4 53.3c16.3-15.2 24-31 6.5-48.1c-5.9-5.8-12.3-11-19.1-15.6C699.5 463.7 684.5 458.4 671.4 460.5z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  width: 100%;
  height: 85vh;
  object-fit: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); }
  .hero__content {
    z-index: 2;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3); }
    .hero__content h2 {
      margin: 0; }

.separator {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0; }
  .separator path {
    fill: #821946;
    stroke: #821946; }

.section {
  padding: 10px 30px; }
  .section--alt {
    background-color: #f9f8f8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23871847' fill-opacity='0.67'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    box-shadow: inset 0px 70px 100px -55px rgba(0, 0, 0, 0.7), inset 0px -70px 100px -55px rgba(0, 0, 0, 0.7); }

.about {
  background-color: #821946;
  color: white; }
  .about__title {
    position: relative;
    right: -10%;
    bottom: 25px;
    margin: 0;
    max-width: 400px; }

.products__title {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background: #821946;
  color: white;
  z-index: 0;
  position: relative;
  padding-bottom: 10px;
  bottom: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }

.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  grid-gap: 20px; }

.products__item {
  cursor: pointer;
  border: 5px solid rgba(180, 120, 75, 0.7);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .products__item:hover {
    border: 5px solid rgba(130, 25, 70, 0.7); }
    .products__item:hover .products__item__name {
      background-color: rgba(130, 25, 70, 0.7); }
  .products__item img {
    width: 100%;
    object-fit: cover; }
  .products__item__name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(180, 120, 75, 0.5);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out; }

.contact-us__title {
  text-align: center; }

.contact-us__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

.contact-us__form {
  padding: 12px;
  border-radius: 4px; }
  .contact-us__form__message {
    grid-column: 1 / span 2; }
  .contact-us__form textarea {
    resize: none; }

.contact-us__icon {
  vertical-align: text-top; }

.contact-us__form-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0; }

.contact-us__form-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0; }

.contact-us__input-title {
  margin-top: 6px; }

.contact-us__input-place {
  margin-top: 6px;
  flex: 1; }

.contact-us__row {
  padding: 0 20px; }
  .contact-us__row--btn {
    padding: 0;
    margin-top: 10px; }

/* To make the form responsive*/
@media screen and (max-width: 600px) {
  .input-title, .input-place, input[type=submit] {
    width: 100%;
    margin-top: 0; }
  .contact-us__content {
    display: flex;
    flex-direction: column; } }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

input[type=submit] {
  background-color: #821946;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  width: 100%; }

input[type=submit]:hover {
  background-color: #6d153a; }

input:focus, textarea:focus {
  outline-color: rgba(130, 25, 70, 0.7); }

.footer {
  background-color: #821946;
  padding: 15px 25px;
  margin-left: -15px; }
  .footer__caption {
    color: white;
    font-size: 12px; }
  .footer__icons {
    margin: 0; }
  .footer__icon {
    display: inline-block;
    margin: 0 5px; }

.modal {
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  .modal__close {
    font-family: sans-serif;
    font-size: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
    transition: all 0.1s ease-in;
    cursor: pointer;
    user-select: none; }
    .modal__close:hover {
      color: #b4784b; }
  .modal__card {
    background: white;
    border-radius: 20px;
    height: 500px;
    width: 50%;
    min-width: 450px;
    padding: 20px 25px; }
    .modal__card__title {
      margin-top: 0;
      text-align: center;
      font-family: "Work Sans", sans-serif; }
    .modal__card__img {
      width: 100%;
      border: 3px solid rgba(0, 0, 0, 0.7);
      border-radius: 20px;
      overflow: hidden; }
      .modal__card__img img {
        width: 100%;
        object-fit: cover;
        height: 200px;
        object-position: center; }
    .modal__card__desc__row {
      display: flex;
      justify-content: space-between;
      padding: 12px 20px;
      width: 80%;
      margin: 0 auto;
      font-family: "Bitter", serif; }
