.contact-us {
    &__title {
        text-align: center;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    &__form {
        width: 80%;
        padding: 12px;
        border-radius: 4px;
        &__message {
            grid-column: 1 / span 2;
        }
        textarea {
            resize: none;
        }
    }
    &__icon {
        vertical-align: text-top;
    }

    
    
    &__form-container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 0;
      }
    
    &__input-title { 
        margin-top: 6px;
    }
    
    &__input-place {
        margin-top: 6px;
        flex: 1;
    }
    
    &__row {
    display: flex;
    
    }

    /* To make the form responsive*/
    @media screen and (max-width: 600px) {
        .input-title, .input-place, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }


}


  
  
  
  
  