.footer {
    background-color:#3d0014 ;
    padding: 15px 25px;
    margin-left: -15px;
    &__caption {
        color: #747474;
        font-size: 12px;
    }
    &__icons {
        margin: 0;
    }
    &__icon {
        display: inline-block;
        margin: 0 5px;
    }
}
   
      
         