.header {
    background-color: transparent;
    padding: 15px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    &__nav {
        padding: 0;
        &__tab {
            display: inline-block;
            color: $white;
            padding: 0 10px;
            &:hover {
                color: $accentColor;
            }
        }
        /* nav-bar css*/
        #navbar {
            position: fixed; /* Make it stick */
            top: 2%; /* Stay on top */
            width: 100%; /* Full width */
            transition: top 0.3s;
            
        }
        #navbar ul {
            float: right;
            padding-right: 80px;
        }
        
        #navbar a:hover {
            border-bottom: 3px solid #fc9494;
        }
    }
}