$primaryColor: rgb(130, 25, 70);
$lightPrimaryColor: rgba($primaryColor, 0.7);
$accentColor: rgb(180, 120, 75);
$white: rgb(255, 255, 255);
$textColor: rgba(0, 0, 0, 0.9);
$headerFont: 'Work Sans',
sans-serif;
$contentFont: 'Bitter',
serif;