$primaryColor: #821946;
$lightPrimaryColor: rgba($primaryColor, 0.7);
$accentColor: #b4784b;
$white: rgb(255, 255, 255);
$textColor: rgba(0, 0, 0, 0.9);
$headerFont: 'Work Sans',
sans-serif;
$contentFont: 'Bitter',
serif;